$headFootColor: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
$quizBodyColor: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
$btnColor: linear-gradient(315deg, #378b29 0%, #74d680 74%);
$footerColor: #534340;
