@use './colors' as *;

@mixin btnSmall {
	position: relative;
	padding: 0.8em 2em;
	font-family: 'Concert One', cursive;
	font-size: 1.7rem;
	color: #fff;
	text-shadow: 0 0 3px #000;
	border: none;
	border-radius: 8px;
	box-shadow: 0 0 6px #000;
	background-image: $btnColor;
	letter-spacing: 2px;
	text-transform: uppercase;
	overflow: hidden;
	cursor: pointer;
}

@mixin btnMedium {
	position: relative;
	padding: 0.8em 2em;
	font-family: 'Concert One', cursive;
	font-size: 2.5rem;
	color: #fff;
	text-shadow: 0 0 3px #000;
	border: none;
	border-radius: 8px;
	box-shadow: 0 0 6px #000;
	background-image: $btnColor;
	letter-spacing: 2px;
	text-transform: uppercase;
	overflow: hidden;
	cursor: pointer;
}
